{% extends "base.html.twig" %}

{% block title %}Black Jack{% endblock %}

{% block body %}
<main class="main"> 
    <h1>Black Jack</h1>
    {{ include('flash.html.twig') }}
    <p>Kortleken blandas efter varje runda för att undvika korträkning!</p>
    <div class="flex-container-row">
        <div class="flex-column-70">
            <form method="post" action="">
                <input type="submit" name="restart" value="Checka ut med dina kredits" class="button1"
                    onClick="this.form.action='{{ path('proj_init_get') }}';this.form.method='get';"
                >
            </form>
            <form class="label-left" method="post" action="{{ path('proj_init_shuffle') }}">
                <fieldset>
                    <legend>Hej <em>{{ name }}!</em> Välj hur många händer du vill spela denna rundan</legend>

                    <label for="quantity">Antal (1 till 3)</label>
                    <input id="quantity" type="number" name="quantity" min="1" max="3">

                    <input type="submit" name="doit" value="Spela">
                </fieldset>
            </form>
        </div>
        <div class="flex-column-30">
            <h3>Spelare: {{ name }}</h3>
            <p>Nuvarande krediter: {{ credits }}</p>
        </div>
    </div>
</main>

{% endblock %}
