{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<main class="main"> 
    <h1>Kortspel 21</h1>
    {{ include('flash.html.twig') }}
    <p>Det finns nu {{ cards_left }} kort kvar i kortleken.
    När mindre än halva kortlekan är kvar är spelet avlutat!</p>
    <div class="flex-container-row">
        <div class="flex-column-50">
            {% if cards_left|default(null) and cards_left < 26 %}
                {% if player_wins > bank_wins %}
                    <h3>Player har vunnit spelet!</h2>
                {% elseif player_wins < bank_wins %}
                    <h2>Bank har vunnit spelet!</h2>
                {% else %}
                    <h2>Spelet blev oavgjort!</h2>
                {% endif %}
            {% else %}
                <p>Dra kort eller välj att stanna.</p>
                <p>Vi spelar nu runda {{ game_round }}.</p>
                <form method="post" action="">
                    <p>
                        <input type="submit" name="draw" value="Draw" class="previous"
                            onClick="this.form.action='{{ path('game_draw') }}';"
                        >
                        <input type="submit" name="stand" value="Stand" class="previous"
                            onClick="this.form.action='{{ path('game_stand') }}';"
                        >
                        <input type="submit" name="next" value="Next Round" class="previous"
                            onClick="this.form.action='{{ path('next_round') }}';"
                        >
                        {# <input type="submit" name="restart" value="Restart Game" class="previous"
                            onClick="this.form.action='{{ path('game_init') }}';this.form.method='get';"
                        > #}
                    </p>
                </form>
                {% if currentValues|default(null) %}
                <p>Nuvarande möjliga värden av handen(det närmast 21 väljs automatiskt!):
                {% for value in currentValues %}
                {{ value }}
                {% endfor %}
                </p>
                {% endif %}
                {% if draw|default(null) %}
                    <div class="flex-row-game-smaller">
                        <p>Spelarhand:</p>
                        {% for card in draw %}
                            {% if suit[loop.index0] == 'Clubs' or suit[loop.index0] == 'Spades' %}
                                <div class="card black">{{ draw[loop.index0] }}</div>
                            {% else %}
                                <div class="card red">{{ draw[loop.index0] }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if bank_draw|default(null) %}
                    <div class="flex-row-game-smaller">
                        <p>Bankhand:</p>
                        {% for card in bank_draw %}
                            {% if bank_suit[loop.index0] == 'Clubs' or bank_suit[loop.index0] == 'Spades' %}
                                <div class="card black">{{ bank_draw[loop.index0] }}</div>
                            {% else %}
                                <div class="card red">{{ bank_draw[loop.index0] }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

        </div>
        <div class="flex-column-50">
            <h3>Current score</h3>
            <p>Player wins: {{ player_wins }}</p>
            <p>Bank wins: {{ bank_wins }}</p>
        </div>
    </div>
</main>

{% endblock %}
